* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #081c15;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-contaner {
    width: 170px;
    overflow: hidden;
    /* border: 1px solid red; */
}

.text-1, .text-2 {
    color: #d8f3dc;
    font-size: 4rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: calc(4rem * 0.9);
    letter-spacing: -4px;
    display: flex;
}